doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title RSS Reader
  body
    main.container
      .jumbotron.m-3
        form.feed-form
          .form-group
            label(for="inputAddress") RSS url:
            input.form-control.feed-form__input(type="text" id="inputAddress" placeholder="Enter RSS url")
            .invalid-feedback Please enter valid RSS url
            .feed-form__message
          button.btn.btn-primary.feed-form__button(type="submit" disabled) Load RSS
      .row
        .col-4
          ul.feeds-list.list-unstyled.ml-3
        .col
          ul.articles-list.list-unstyled.mr-3
